// Colors
$primary-color: #ff6a2f;
$white-color: #ffffff;
$overlay-color: rgba(0, 0, 0, 0.3);

// Fonts
$font-heading: 'Poppins', sans-serif;
$font-body: 'Roboto', sans-serif;

// Spacing
$search-box-padding: 25px;
$search-box-radius: 15px;
