.text-shadow {
    text-shadow: 0px 3px 8px #c91f35;
  }


  .section-title {
    font-weight: 700;
    font-size: 28px;
    border-left: 4px solid #c91f35;
    padding-left: 10px;
    margin-bottom: 15px;
  
  }
  .privacy-list {
    list-style: none;
    padding-left: 0;
  }
  
  .privacy-list li {
    padding: 6px 0;
    font-size: 16px;
    color: #c91f35;
    display: flex;
    align-items: center;
  }
  
  .privacy-list i {
    color: #c91f35;
    margin-right: 10px;
    font-size: 14px;
  }
  
